init.txt
build/
modules/chat/*
modules/commands/*
modules/events/*
modules/customevents/*
modules/customevents/modules/*
web/*
db/
logs/
!web/index.html
!web/wrapper.js
!web/fontawesome
!web/customevents/vote.lua.js
!modules/commands/first.lua
!modules/chat/first.lua
!modules/events/channel.follow/example.lua
!modules/customevents/vote.lua
!modules/customevents/modules/string_helper.lua