init.txt
build/
modules/*
web/*
db/
logs/
!web/index.html
!web/index2.html
!web/index.css
!web/wrapper.js
!web/fontawesome
!web/customevents/vote.lua.js
!modules/commands/first.lua
!modules/chat/first.lua
!modules/events/channel.follow/example.lua
!modules/customevents/vote.lua
!modules/customevents/modules/string_helper.lua